# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.swp

tests/i18i19/*
config.ini
tests/param_plot/*.pdf
tests/irc_hcn_iso/*.pdf
tests/irc_hcn_iso/*.coords
tests/irc_hcn_iso/*.energies
tests/irc_hcn_iso/*.trj

TODO
.vscode/*
results.yaml

*.out
# Turbomole
*.gradient
*.mos
*.alpha
*.beta
# Gaussian
*.fchk
*.chk
# Orca
*.engrad
*.gbw
*.cis
image_results.yaml
optimizer_results.yaml
final_geometry.xyz
calculated_init_cart_hessian

interpolated.image_*.xyz
image*.control
*.pdf
tests_staging/*
wfo_*.*
dask-worker-space*

fabfile.py
.pytest_cache/*
*.grad

*gaussian16.com

result
*.chkfile
*.h5
RUN.yaml
cur_out
*.fail_*

version.py

!tests/test_barriers/*.h5
!tests/test_hessian_updates/*.h5
!tests/test_pka/*.h5
!tests/test_overlap_calculator/*.h5
!tests/test_save_hessian/*.h5
!tests/test_turbomole/control_path_big_hess
!tests/test_tsopt/test_hessian_ref.h5
!tests/test_orca/normal_term.orca.out
!tests/test_orca/orca_tddft_triplets.out
!tests/test_orca/fail_term.orca.out
!tests/test_orca/orca_tddft_triplets.out
!tests/test_point_charges/methane_control_path/*
!tests/test_xtb/xtb_pass.out
!tests/test_xtb/xtb_crash.out
!tests/test_turbomole/control_path_big_hess/*
!tests/test_tsopt/inp_hessian_ref.h5
!tests/test_rates/peroxyl_r1_h5s/*.h5
!tests/test_integrals/methane_def2svp_aomix.in
