$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1,4,6,8                                                                     \
   basis =c def2-SVP                                                           \
   cbas  =c def2-SVP
h  2-3,5,7,9-10                                                                \
   basis =h def2-SVP                                                           \
   cbas  =h def2-SVP
$basis    file=basis
$rundimensions
   dim(fock,dens)=4197
   natoms=10
   nshell=42
   nbf(CAO)=90
   dim(trafo[SAO<-->AO/CAO])=98
   rhfshells=1
   nbf(AO)=86
$scfmo   file=mos
$scfiterlimit       30
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$ricore     500 MiB per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$denconv     0.10000000E-06
$freeze
 implicit core=    4 virt=    0
$cbas    file=auxbasis
$ricc2
  cc2
  geoopt model=cc2       state=(x)
$excitations
  irrep=a  multiplicity=  1  nexc=  2  npre=  0  nstart=  0
$last SCF energy change = -154.80226
$charge from dscf
         -0.000 (not to be modified here)
$dipole from ricc2
  x    -0.00135490036621    y    -0.00073791761255    z     0.00000000000003    a.u.
   | dipole | =    0.0039214736  debye
$t2_norm_of_le0_CC2_____1^a___ file=exstates
$<le0|re0>-overlap_CC2_____1^a___ file=exstates
$<le01|re01>-overlap_CC2_____1^a___ file=exstates
$<le02|re02>-overlap_CC2_____1^a___ file=exstates
$last CC2 energy change= -.53938018
$exstprop_CC2______1^a_____1 file=exstates
$closed shells
 a       1-15                                   ( 2 )
$last step     ricc2
$orbital_max_rnorm 0.28245261768275E-06
$excitation_energies_CCS_____1^a___ file=exstates
$excitation_energies_CC2_____1^a___ file=exstates
$t2_norm_of_re0_CC2_____1^a___ file=exstates
$end
