name: Python application

on:
    push:
        paths-ignore:
            - "docs/**"
            - "examples/**"
            - "tests_staging/**"
            - "deprecated/**"
            - "scripts/**"
    workflow_dispatch:
    schedule:
        - cron: '0 */12 * * *'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Install ASE
      run: |
        pip install ase>=3.22.0
    - name: Install pyscf
      run: |
        pip install pyscf==1.7.6.post1
    - name: Install thermoanalysis
      run: |
        pip install git+https://github.com/eljost/thermoanalysis.git
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest -v --cov=pysisyphus --cov-config .coveragerc --cov-report xml --cov-report term tests --show-capture=no  --durations=0
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
